/* some style */

html, body {
  background-color: #195465;
  color: #CAE8E6;
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  height: 100%;
}

@media (max-width: 460px) {
  html, body {
    font-size: 16px;
  }
}

#site {
  height: 100%;
}

a, a:visited, a:hover {
  color: #EDB54B;
  text-decoration: underline;
}

a:active {
  color: #C33027;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  line-height: 1.2;
}

hr {
  border-style: solid;
}

h1 {
  color: #FFFFFF;
  margin: 1rem 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 1.8rem;
  }
}

p {
  margin-bottom: 1.5rem
}

.subtitle {
  margin-top: 1.5rem;
}

.main {
  padding: 2.5rem 1rem 0;
}

.intro {
  background-color: #13404D;
}

.rest {
  background-color: #1F6A80;
  padding-bottom: 1rem;
}

.rest hr {
  border-color: #195465;
  margin: 0 0 1.5rem;
}

#not-found img {
  border: 0.5rem solid white;
}

@media (max-width: 460px) {
  #not-found img {
    width: 100%;
  }
}

/* nav */

nav a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

nav a:hover {
  color: tomato;
}

nav a:visited {
  color: #232323;
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 3px;

  background: #FFFFFF;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 10rem;
  margin: -100px 0 0 -2rem;
  padding: 5rem 2rem 1rem;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  box-shadow: 5px 5px 0 rgba(0,0,0,0.5);
}

@media (max-width: 460px) {
  #menu {
    padding-top: 7em;
  }
}

#menu li {
  padding: 0.25rem 0;
}

/*
 * And let's slide it in from the left
 */
#menu-toggle input:checked ~ ul {
  transform: none;
}

.timeline .timeline-item::before {
  background: #CCC;
  left: 12px;
  top: 1.2rem;
  height: auto;
  bottom: -0.7rem;
}

.timeline .timeline-item:last-child::before {
  display: none;
}

.timeline .timeline-item .timeline-icon::before {
  border-color: #CCC;
  top: 0.5rem;
}

.blog,
.blog-post {
  color: #000;
  background: #FFF;
  height: 100%;
}

.blog #menu-toggle span,
.blog-post #menu-toggle span {
  background: #000;
}

.blog .intro,
.blog-post .intro {
  background: #EEE;
}

.blog h1,
.blog-post h1 {
  color: #000;
}

.blog .timeline-item {
  margin-bottom: 0.5rem;
}
